.category-header {
  display: flex;
  padding: 10px 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.category-header h1 {
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  line-height: 1.5;
}

@media screen and (max-width: 550px) {
  .category-header h1 {
    font-size: 2rem;
  }
}

.carousel-btns {
  width: fit-content;
  padding: 10px;
}

.carousel-btns i {
  background-color: #dfebe7;
  color: #79827f;
  font-size: 2rem;
  padding: 8px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
}

.carousel-btns i:first-child {
  margin-left: 0;
}

.wrapper {
  margin: 10px 20px;
  height: fit-content;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.wrapper .carousel {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;
  touch-action: pan-y;
  font-size: 0;
  z-index: 2;
}

.item {
  display: inline-block;
  width: calc(100% / 4);
  margin-left: 20px;
  pointer-events: none;
}

.item:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 900px) {
  .item {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .item {
    width: 100%;
  }
}

.item img {
  width: 100%;
  height: 150px;
}

.food-card {
  line-height: 2;
}

.food-card .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.food-card .head span {
  font-size: 1rem;
  display: inline-block;
  width: 50%;
  font-family: "Sono", sans-serif;
}

.food-card .btn {
  position: relative;
  left: 80%;
}

.food-card .btn i {
  font-size: 2rem;
}

/*DISABLED FUNCTIONALITY*/
.disabled {
  background-color: transparent !important;
  color: #d5dbd9 !important;
}
