<div class="offcanvas offcanvas-bottom offcanvas-size-md" tabindex="-1" id="AppSideBar"
  aria-labelledby="AppSideBarLabel">
  <div class="offcanvas-header">
  </div>
  <div class="offcanvas-body small">
    <div class="bottom-space">
      <a href="{{ url_for('main_bp.about') }}">
        <i class="fa-solid fa-question" id="about-us"></i>
        <label for="about-us">About Us</label>
      </a>
    </div>

    {% if current_user.is_authenticated %}

    <div class="bottom-space">
      <a href="{{ url_for('user_bp.profile', user_id=current_user.id) }}">
        <i class="fa-solid fa-user" id="profile"></i>
        <label for="profile">Profile</label>
      </a>
    </div>

    <div class="bottom-space">
      <a href="{{ url_for('user_bp.logout') }}">
        <i class="fa-solid fa-arrow-right-from-bracket" id="logout"></i>
        <label for="logout">Logout</label>
      </a>
    </div>
    {% endif %}
  </div>
</div>