<div class="offcanvas offcanvas-end offcanvas-size-lg" tabindex="-1" id="CartSideBar"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h1 id="offcanvasRightLabel">
      <i class="fa-solid fa-cart-plus"></i>
    </h1>
    <a class="btn btn-trash" id="btn-clear" href="#">
      <i class="fa-solid fa-trash-can"></i>
    </a>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="cart-body">
    <a class="btn btn-checkout" id="btn-checkout" href="">
      <label for="checkout">Proceed To Checkout</label>
      <i class="fa-regular fa-credit-card" id="checkout"></i>
    </a>
  </div>
</div>