<nav class="navbar fixed-top navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <div class="brand">
            <a class="btn" data-bs-toggle="offcanvas" href="#AppSideBar" role="button" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars bars"></i>
            </a>
            <a class="navbar-brand brand-name" href="#">Naija<span>Eats</span></a>
        </div>

        <div class="cart">
            <a class="btn btn-lg btn-cart" href="#">
                <i class="fa-solid fa-cart-plus"></i>
                <span> 0 </span>
            </a>

            {% if not current_user.is_authenticated%}
            <div class="auth-bar auth-bar-flex">
                <a class="nav-item nav-link" href="{{ url_for('user_bp.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('user_bp.register') }}">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-bottom offcanvas-size-md" tabindex="-1" id="AppSideBar"
    aria-labelledby="AppSideBarLabel">
    <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title brand-name" id="AppSideBarLabel">Naija <span>Eats</span></h5> -->
        <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body small">
        <div class="bottom-space">
            <a href="{{ url_for('main_bp.about') }}">
                <i class="fa-solid fa-question" id="about-us"></i>
                <label for="about-us">About Us</label>
            </a>
        </div>

        {% if current_user.is_authenticated %}
        <div class="bottom-space">
            <a href="{{ url_for('user_bp.logout') }}">
                <i class="fa-solid fa-arrow-right-from-bracket" id="logout"></i>
                <label for="logout">Logout</label>
            </a>
        </div>
        {% endif %}
    </div>
</div>

<div class="spacer"></div>