<nav class="navbar fixed-top navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <div class="brand">
            <a class="btn" data-bs-toggle="offcanvas" href="#AppSideBar" role="button" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars bars"></i>
            </a>
            <a class="navbar-brand brand-name" href="#">Naija<span>Eats</span></a>
        </div>

        <div class="filter">
            <select class="form-select form-select-lg " aria-label=".form-select-lg example">
                <option selected>City?</option>
                <option value="1">Lagos</option>
                <option value="2">Enugu</option>
                <option value="3">Ibadan</option>
                <option value="3">Ibadan</option>
                <option value="3">Ibadan</option>
            </select>

            <select class="form-select form-select-lg " aria-label=".form-select-lg example">
                <option selected>Category?</option>
                <option value="1">Lagos</option>
                <option value="2">Enugu</option>
                <option value="3">Ibadan</option>
                <option value="3">Ibadan</option>
                <option value="3">Ibadan</option>
            </select>
        </div>

        <div class="cart">
            <a class="btn btn-lg btn-cart" href="#">
                <i class="fa-solid fa-cart-plus"></i>
                <span> 0 </span>
            </a>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="AppSideBar" aria-labelledby="AppSideBarLabel">
    <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title brand-name" id="AppSideBarLabel">Naija <span>Eats</span></h5> -->
        <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body small">
        <a href="{{ url_for('main_bp.about') }}">
            <i class="fa-solid fa-question"></i> About Us
        </a>
    </div>
</div>

<div class="spacer"></div>

<div class="navbar-nav">
    <a class="nav-item nav-link" href="{{ url_for('user_bp.login') }}">User Login</a>
    <a class="nav-item nav-link" href="{{ url_for('user_bp.register') }}">User Register</a>
    <a class="nav-item nav-link" href="{{ url_for('restaurant_bp.login') }}">Restaurant Login</a>
    <a class="nav-item nav-link" href="{{ url_for('restaurant_bp.register') }}">Restaurant Register</a>
</div>