{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% include 'simple_nav.html' %}

<div id="login">
  <form class="vh-100 login-area" method='POST' action="/login/">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong login-card">
            <div class="card-body p-5 text-center">

              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="p-3 mb-2 bg-danger text-white">
                {{ messages[0] }}
              </div>
              {% endif %}
              {% endwith %}

              <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" value="" id="business-login" name="is_business" />
                <label class="form-check-label" for="business-login"> I'm a business </label>
              </div>

              <div class="form-outline mb-4">
                <input type="uname" class="form-control form-control-lg" placeholder="Enter Email" name="email"
                  autocomplete="off" />
              </div>

              <div class="form-outline mb-4">
                <input type="password" class="form-control form-control-lg" placeholder="Enter Password" name="password"
                  autocomplete="off" />
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input class="form-check-input" type="checkbox" name="remember" />
                <label class="form-check-label" for="form1Example3"> Remember password </label>
              </div>

              <div class="clearfix bottom-space">
                <button class="btn btn-outline-primary btn-lg" type="submit">Login</button>
              </div>


              <p id="or-text-signin">OR</p>

              <button class="btn btn-lg btn-block btn-primary bottom-space" id="google-signin"
                style="background-color: #dd4b39;" type="submit"><i class="fab fa-google me-2"></i> Sign in with
                google</button>


              <div class="border-top pt-3">
                <small class="text-muted">
                  Need An Account? <a class="ml-2" href="{{ url_for('user_bp.register') }}">Sign Up Now</a>
                </small>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>

{% endblock %}