<div class="food-modal" id="modal">
  <div class="food-modal-content">
    <div class="food-modal-header">
      <img src="../static/images/naijafoods.jpeg" alt="...">
      <div>
        <span>Fufu & Egusi Soup</span>
        <span>NGN. 10.00</span>
        <span>From: Scrumptuous </span>
      </div>
      <button type="button" class="btn btn-close"></button>
    </div>
    <div class="food-modal-body">
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ea eaque, aliquam ex incidunt enim
        sequi consequuntur, provident dolorem voluptates est asperiores nemo veniam nostrum sapiente rerum, placeat
        molestiae modi!
      </div>
      <div class="additional-info">
        <label for="quantity-field">Quantity</label>
        <input type="number" name="quantity" id="quantity-field" min="1" value="1">
      </div>
    </div>
    <div class="food-modal-footer">
      <button class="btn btn-add-cart">
        <label for="cart">Add To Cart</label>
        <i class="fa-solid fa-cart-plus" id="cart"></i>
      </button>
    </div>
  </div>
</div>