<nav class="navbar fixed-top navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <div class="brand">
            <a class="btn" data-bs-toggle="offcanvas" href="#SimpleSideBar" role="button"
                aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars bars"></i>
            </a>
            <a class="navbar-brand brand-name" href="#">Naija<span>Eats</span></a>
        </div>

        <div class="cart">
            {% if not current_user.is_authenticated%}
            <div class="auth-bar auth-bar-flex">
                <a class="nav-item nav-link" href="{{ url_for('user_bp.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('user_bp.register') }}">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

{% include 'simplesidebar.html' %}

<div class="spacer"></div>