<nav class="navbar fixed-top navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <div class="brand">
            <a class="btn" data-bs-toggle="offcanvas" href="#AppSideBar" role="button" aria-controls="offcanvasExample">
                <i class="fa-solid fa-bars bars"></i>
            </a>
            <a class="navbar-brand brand-name" href="#">Naija<span>Eats</span></a>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="AppSideBar" aria-labelledby="AppSideBarLabel">
    <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title brand-name" id="AppSideBarLabel">Naija <span>Eats</span></h5> -->
        <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body small">
        <a href="{{ url_for('main_bp.index') }}">
            <i class="fa-solid fa-arrow-left"></i> Back Home
        </a>
    </div>
</div>

<div class="spacer"></div>